*{
	p:#0B2239;
	s:#4AD295;
	b:#152467;
	g:#154d67;
	l:#FFFFFF;
	bt:#4055B2;
	}

.frame{
	-fx-pref-width: 900px;
	-fx-pref-height: 600px;
	
	}
	
.side_bar{
	-fx-background-color: p;
	-fx-pref-width: 150px;
}


.icon-wrap{
	-fx-padding: 10px;
	-fx-pref-height: 150px;
	-fx-spacing: 10px;
	-fx-alignment: center;
	
}
.icon-wrap > Label{
	-fx-font-family: Century;
	-fx-font-size: 15px;
	-fx-font-weight: bold;
	-fx-text-fill: white; 
}

.nav-btn {
	-fx-padding: 10px;
	-fx-pref-height: 55px;
	-fx-spacing: 10px;
	-fx-alignment: center-left;
}

.active {
	-fx-background-color: s;
}
.nav-btn:hover{
	-fx-background-color: s;
	-fx-cursor: hand;
}
.nv-btn .svg-holder{
	-fx-pref-width:20px;
	-fx-pref-height:20px;
	-fx-alignment: center;
	
	
	
}
.svg,.lbl{
	-fx-fill: white;
	-fx-font-size:15;
	-fx-font-weight: bold;
	-fx-text-fill: white;
}
.title-wrap{
	-fx-pref-height: 70px;
	-fx-alignment: center-left; 
	-fx-padding: 10px;
	}	

.title-wrap > Label{
	-fx-font-size:28px;
	-fx-font-weight:bold;
	}
	
.footer{
	-fx-pref-height: 50px;
	-fx-alignment: center;
	-fx-padding: 10px;
		
	}
	
.view {
	-fx-border-width: 15 0 0 0;
	-fx-border-color: s;
	-fx-pref-width: 750px;
	-fx-pref-height: 520px;
		
	}
.sarch-bar{
	-fx-pref-height: 80px;
	-fx-padding: 10px;
	-fx-spacing: 10px;
	-fx-alignment: center-left;
}

.cat-box{
	-fx-pref-width: 215px;
	-fx-pref-height: 100px;
	-fx-alignment: center;
	-fx-border-color: p;
	-fx-border-radius: 5px;
	
}
.cat-box:hover{
	-fx-background-color: p;
	-fx-background-radius: 5px;
	-fx-cursor: hand; 
}
.cat-box > Label {
	-fx-text-fill: p;
	-fx-font-size: 15px;
}
.cat-box:hover > Label {
	-fx-text-fill:white;
}
.combo{
	-fx-pref-width: 130px;
	-fx-border-width: 1px;
	-fx-border-color: p;
	-fx-prompt-text-fill: p; 
}
.txt_fld{
	-fx-pref-width:150px;
	-fx-background-color: transparent;
	-fx-border-width: 1px;
	-fx-border-color: p;
	-fx-prompt-text-fill: p; 
	}	
TextArea{
	-fx-border-color: p; 
}
.dt-pick {
-fx-pref-width:130px;
	-fx-background-color: transparent;
	-fx-border-width: 1px;
	-fx-border-color: p;
	-fx-prompt-text-fill: p; 	
}
.btn {
	-fx-pref-width: 80px;
	-fx-background-color: p;
	-fx-text-fill: white;
}	

.btn:hover{
	-fx-background-color: s; 	
}

.pad10 {
	-fx-padding: 0 10 10 10;
}
ScrollPane{
	-fx-fit-to-width: true;
	-fx-padding: 0 20 10 10;
}

FlowPane{
	-fx-hgap: 10px;
	-fx-vgap: 10px;
}

.edit-view{
	-fx-pref-width: 400px;
	-fx-pref-height: 450px;
}

.edit-view-title-warp{
	-fx-pref-height: 80px;
	-fx-background-color: p;
	-fx-alignment: center;
}

.edit-view-title-warp>Label{
	-fx-font-size:30px;
	-fx-text-fill: white;
	-fx-font-weight: bold;
}

.info-warp{
	-fx-pref-height: 25px;
	-fx-alignment: center;	
}

.info-warp>Label{
	-fx-font-size:12px;
	-fx-text-fill: red;
	
}
.detial-box{
	-fx-spacing: 10px;
	-fx-padding: 10px;
	-fx-pref-width: 550px;
	-fx-pref-height: 300px;
}

.cart-warp{
	
	-fx-pref-width: 320px;
	
}

.cart-title-wrap{
	-fx-alignment: center;
	-fx-padding: 10px;
	-fx-pref-height: 35px;
}
.cart-title-wrap > Label{
	-fx-text-fill: p;
	-fx-font-size: 14px;
	-fx-font-weight: bold;
}

.cart-icon-wrap{
	-fx-pref-width: 32px;
	-fx-alignment: center-left;
	-fx-padding: 10px;
}

.cart-icon-label{
	-fx-text-fill: p;
	-fx-font-size:14px;
	-fx-font-weight: bold;
}

.cart-btn-wrap{
	-fx-padding: 10px;
	-fx-alignment: center;
	-fx-spacing: 10px;
	}

.cart-btn-wrap>.cat-btn{
	-fx-padding: 10px;
	-fx-alignment: center;
	-fx-spacing: 10px;
	-fx-pref-width: 200px;
	-fx-pref-height: 70px;
	-fx-border-color: p;
	-fx-border-radius: 5px;
	
}

.cart-btn-wrap>.cat-btn> Label{
	
	-fx-font-size:12px;
	-fx-font-weight: bold;
 
	
}

.cart-btn-wrap>.cat-btn:hover{
	-fx-background-color: s;
	-fx-background-radius: 5px;
	-fx-cursor: hand;
}
.msg-box{
	-fx-pref-width: 250px;
	-fx-pref-height: 120px;
}

.login-wrap{
	-fx-pref-height: 280px;
	-fx-pref-width: 500px;
	
	-fx-background-color:g;
}

.login-wrap>.left{
	-fx-pref-height: 250px;
	-fx-pref-width: 200px;	
	-fx-background-radius: 30px;
	-fx-border-radius: 30px;
	-fx-border-width: 2px;
	-fx-border-color: l;
	-fx-background-color:b;
}

.login-wrap>.left>image{
	-fx-alignment: center;
}

.loglb{
	-fx-text-fill: l;
	-fx-font-size:17;
	-fx-font-weight: bold;
	-fx-alignment: center;
	
}
.login-wrap>.right{

	-fx-alignment: center;
}
